<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">WhatIsMyTemp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="newBoard">Add a new Location</a></li>
            <li><a href="unMapLocationToBoard">Remove a Location</a></li>
            <li><a href="showLocationFromBoard">Show my Locations</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <div class="alert alert-success"  th:utext="${message}"  th:if="${message}">
    </div>
    <div class="alert alert-danger" th:utext="${errorMessage}" th:if="${errorMessage}">
</div>
<div class="starter-template">
  <h1>WhatIsMyTemp</h1>
  <p>We are a bunch of developers trying to make a better world. We are glad to give you the temperature of any city.</p>
  <p>Any suggestion or complaint about anything of our Website will be received. Thanks for using our app</p>

  <!--

  <form th:action="@{/boards2}" th:object="${board}" method="POST" class="form-inline">
      <div class="form-group">
          <label>City:</label>
          <input type="text" class="form-control" th:field="*{name}"/>
      </div>
      <button type="submit" class="btn btn-default">Let's find out</button>
  </form>
  -->
</div>
</div>
<!--

   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}


<a th:href="@{/personList}">Person List</a>
   -->

</body>

</html>